body{
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
	height: 1px;
}
.left_container{
	width:  1300px;
	height: 100%;
	display: block;
	top: 0;
	background-color: #FFEB3B;
	overflow-y: hidden;


	position: absolute;	
}
.left_container div {
	background-color: #fff;
	margin: 50px;
	border: 1px #000 solid;
}
.right_container{
	display: none;
}
.right_top_container {
	width: 100%;
	height: auto;
	display: block;
	background-color: #2196f3;
	
}
.right_bottom_container{
	width: 100%;
	height: auto;
	background-color: #e91e63;
	
}

.img-label-box{
    margin-top: 10px;
	height: 20px;
	width: 100%;
	background-color: #8635b9;
	position: fixed;
	bottom:0;
}
.img-label{
    display: block;
    width: 12px;
    height: 12px;
    border: solid 1px transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    background: rgba(30, 230, 72, 0.7);
    cursor: pointer;
    vertical-align: bottom;
	position: absolute;
	bottom: 2px;
	z-index: 2;
	left: 47%;

}
.img-label-box .img-label:last-child{
	margin-left: 19px;
}
.img-label.active
{
    background: rgba(153, 252, 249, 0.4);
    border-color: #fff;
    -moz-box-shadow: 0px 0px 10px rgba(153, 252, 249, 0.9);
    -webkit-box-shadow: 0px 0px 10px rgba(153, 252, 249, 0.9);
    box-shadow: 0px 0px 10px rgba(153, 252, 249, 0.9);

    -webkit-transition: background 1.5s;
    -moz-transition: background 1.5s;
    -o-transition: background 1.5s;

    -webkit-transition: border-color 1.5s;
    -moz-transition: border-color 1.5s;
    -o-transition: border-color 1.5s;
}